.btn{
  display: inline-block;
  font-size: 15px;
  padding: 15px 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:#ffc727;
  border: none;
  border-radius: 25%;
  box-shadow: 0 6px #999;

}
.btn:hover {
  background-color: #ffb429;
}

.btn:active {
  background-color: #ffc554;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
  .button {
    display: inline-block;
    font-size: 15px;
    padding: 15px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ffc727;
    border: none;
    border-radius: 25%;
    box-shadow: 0 6px #999;
  }
  .button:hover {
    background-color:  #ffb429;
  }

  .button:active {
    background-color: #ffc554;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .logo {
    font-size: 2rem;
    font-weight: 70;
  }
  .names{
    font-size:larger;
 }
body{
  height: 100%;
  margin: 0;
}
.waves-container{
    margin-top: 200px;
}
div.waves{
  width: 100%;
  bottom: 0;
  /*height: 100%;*/
  position: absolute;
  z-index: 99;
}
.header{
  font-family: sans-serif;
  text-align: center;
  color: #f3f3f3;
}
.header h2{
  background: linear-gradient(90deg, #00b4db 0%, #224488 50%, #0083b0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
}
.header a{
  text-decoration: none;
  background: linear-gradient(90deg, #00b4db 0%, #224488 50%, #0083b0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
}

svg{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  animation-name: move-left;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

:root {
  --yellow:  #ffffff;
  --white: #ffffff;
  --black: #000000;
}
* {
  color: var(--fontColor);
  font-family: italic;
}
body {
  background: var(--bg);
}

.light-theme {
  --bg: var(--yellow);
  --fontColor: var(--black);
  --buttnBg: var(--black);
  --buttnFontColor: var(--white);
}
.dark-theme {
  --bg: var(--black);
  --fontColor: var(--yellow);
  --buttnBg: var(--white);
  --buttnFontColor: var(--black);
}
.buttn {
  color: var(--buttnFontColor);
  background-color: var(--buttnBg);
}
.buttn {
  position: absolute;
  top: 210px;
  right: 30px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: none;
  color: var(--buttnFontColor);
  background-color: var(--buttnBg);
  font-size: 25px;
}
.buttn:focus {
  outline-style: none;
}
.switch {
  position: absolute;
  font-size: medium;
  font-family: verdana;
  font-style: italic;
  top: 290px;
  right: 55px;
  height: 100px;
  width: 50px;
}