
body{
    height: 100%;
    margin: 0;
  }

  .waves-container{
      margin-top: 200px;
  }
  div.waves{
    width: 100%;
    bottom: 0;
    /*height: 100%;*/
    position: absolute;
    z-index: 99;
  }
  .header{
    font-family: sans-serif;
    text-align: center;
    color: #f3f3f3;
  }
  .header h2{
    background: linear-gradient(90deg, #ffc727 0%, #ffc554 50%, #fffaf1; 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
  }
  .header a{
    text-decoration: none;
    background: linear-gradient(90deg, #ffc727 0%, #ffc554 50%, #fffaf1; 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
  }
  
  svg{
    position: absolute;
    width: 100%;
    top: 900px;
    bottom: 0px;
    left: 0;
    animation-name: move-left;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  body {
    font-family: monospace;
  }
  
  ul {
    font-family: helvetica;
  }
  li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  #item1 {
    font-size: 15px;
    height: 15px;
    width: 30px;
  }
  #item2 {
    font-size: 15px;
    height: 15px;
    width: 30px;
  }
  #item3 {
    font-size: 15px;
    height: 15px;
    width: 30px;
  }
  #item4 {
    font-size: 15px;
    height: 15px;
    width: 30px;
  }
  #item5 {
    font-size: 15px;
    height: 15px;
    width: 30px;
  }
  .image {
    display: block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }
  .button {
    display: inline-block;
    font-size: 15px;
    padding: 15px 10px;
    left: 250px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #002fff;
    border: none;
    border-radius: 25%;
    box-shadow: 0 9px #999;
  }
  .img {
    display: inline-block;
    position: absolute;
    left: 300px;
    height: 100px;
    width: 100px;
    padding: 25px 15px;
    border-radius: 50%;
    border: none;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
  }
  .button:hover {
    background-color: #008cff;
  }
  
  .button:active {
    background-color: #0099ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .switch {
    position: absolute;
    font-size: medium;
    font-family: verdana;
    font-style: italic;
    top: 290px;
    right: 55px;
    height: 100px;
    width: 50px;
  }
  .logo {
    font-size: 2rem;
    font-weight: 70;
  }
  :root {
    --yellow:  #ffffff;
    --white: #ffffff;
    --black: #000000;
  }
  * {
    color: var(--fontColor);
    font-family: italic;
  }
  body {
    background: var(--bg);
  }
  
  .light-theme {
    --bg: var(--yellow);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--yellow);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }
  .btn {
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }
  .btn {
    position: absolute;
    top: 210px;
    right: 30px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    font-size: 25px;
  }
  .btn:focus {
    outline-style: none;
  }
  