<html lang="en">
    <%- include('./Partials/head.ejs') %>

<body>
    <%- include('./Partials/nav.ejs') %>
    
    <div class="About content">
        <h2>About us</h2>
        <p>jiofiudh</p>
        <p>hjcvdbdkjsc</p>
        <p>cdhcbdh</p>
    </div>
    <%- include('./Partials/footer.ejs') %>
</body>
</html>
